[Unit]
Description=Git Relay Command Runner
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Shylo_Oleksandr
ExecStart=/usr/bin/python3 /root/Shylo_Oleksandr/cmd_runner.py
Restart=always
RestartSec=10
EnvironmentFile=-/root/Shylo_Oleksandr/.env

[Install]
WantedBy=multi-user.target
